*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  background-color: #79cbb8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.todo{
  background-color: #500472;
  padding: 30px 20px;
  width: 30vw;
  height: 70vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.todo_head{
  color:#79cbb8;
  margin-bottom: 30px;
  text-align: center;

  /* -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color:transparent; */
  
}
.todo input[type="text"]{
  background: transparent;
  border: 2px solid #79cbb8;
  color: #79cbb8;
  padding: 10px 13px;
  outline: none;
  font-size: 1.3rem;
  margin-right: 6px;
  border-radius: 4px;
}
.todo input[type="text"]::placeholder{
  color:#79cbb8;
}
/* .todo input[type="text"]:focus{
  border-bottom: 2px solid #79cbb8;;
} */

.todo input[type="submit"]{
  background-color:transparent;
  border: 2px solid #79cbb8;
  color: #79cbb8;
  /* border: none; */
  outline: none;
  padding: 10px 25px;
  font-size: 1.3rem;
  border-radius: 4px;
  cursor: pointer;
}

.todo input[type="submit"]:hover{
  opacity: 0.8;
}

.todo_content{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.todo_items{
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 10px;
}
.todo_item{
  list-style: none;
  background-color: #79cbb8;
  width: 100%;
  margin-top: 10px;
  padding: 1rem 8px;
  font-size: 1.2rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
span{
  display: flex;
  align-items: flex-end;
  justify-content: center;
}